body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 20px;
}
.download-btn {
    background: #1a73e8;
    color: white;
    border: none;
    padding: 10px 18px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 15px;
}

.download-btn:hover {
    background: #0f5bd3;
}
.container {
    max-width: 850px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

/* HEADER */
.header {
    text-align: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
}

.header h1 {
    font-size: 32px;
    margin: 0;
    color: #222;
}

.role {
    color: #555;
    margin-top: 5px;
}

.contact p {
    margin: 3px 0;
    font-size: 14px;
    color: #333;
}

/* SECTIONS */
section {
    margin-top: 25px;
}

h2 {
    font-size: 18px;
    color: #2c3e50;
    border-left: 4px solid #4a90e2;
    padding-left: 10px;
}

/* SKILLS GRID */
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.grid div {
    background: #e8f0fe;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
}

/* CARDS */
.card {
    background: #fafafa;
    padding: 12px;
    margin-top: 10px;
    border-left: 4px solid #4a90e2;
    border-radius: 6px;
}

.card h3 {
    margin: 0;
}

.card span {
    font-size: 13px;
    color: gray;
}

/* LIST */
ul {
    margin-top: 10px;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}
